if TARGET_IMX8MP_VAR_DART

config SYS_BOARD
	default "imx8mp_var_dart"

config SYS_VENDOR
	default "variscite"

config SYS_CONFIG_NAME
	default "imx8mp_var_dart"

source "board/variscite/common/Kconfig"

endif
