if TARGET_IMX8MN_VAR_SOM

config SYS_BOARD
	default "imx8mn_var_som"

config SYS_VENDOR
	default "variscite"

config SYS_CONFIG_NAME
	default "imx8mn_var_som"

config IMX8MN_FORCE_NOM_SOC
	bool "Force to use nominal mode for SOC and ARM"
	default n

source "board/freescale/common/Kconfig"

endif
