// SPDX-License-Identifier: GPL-2.0+
/*
 * Copyright 2018 NXP
 * Copyright 2018-2023 Variscite Ltd.
 */

#include "imx8mm-var-common-u-boot.dtsi"

&pinctrl_uart4 {
	u-boot,dm-spl;
};

&uart4 {
	u-boot,dm-spl;
};

&ethphy0 {
	vddio0: vddio-regulator {
		regulator-name = "VDDIO";
		regulator-min-microvolt = <1800000>;
		regulator-max-microvolt = <1800000>;
	};
};

&gpio4 {
	u-boot,dm-spl;
};

&extcon_ptn5150 {
	i2c-bus = <0x1>;
};

&usbotg1 {
	pinctrl-names = "default";
	pinctrl-0 = <>;
};
